<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h1>Question and Answers</h1>
        </div>
    </div>
    <div class="row">
        <!-- user is going to see a list of questions here-->
        <!-- use a card to display the question first and an option to display the answer after clicking the button-->
        <div class="col-3" *ngFor="let test of questionAList">
           <p>{{test.question}}</p> 
           <a [routerLink]="['/getAnswers', test.qAid]" class="btn btn-primary">Answer</a>
        </div>
    </div>
</div>

