<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h1>Question and Answers</h1>
        </div>
    </div>
 
</div>
<div class="row">
    <div class="col-12">
    <!-- user is going to see a list of questions here-->
    <!-- use a card to display the question first and an option to display the answer after clicking the button-->
    <div class="" *ngFor="let test of questionAList">
       <p>{{test.question}}</p> 
       <p>{{test.answer}}</p>
       <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="test.answer" aria-expanded="false" aria-controls="collapseExample">
          Get Answers
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <p>{{test.answer}}</p>
        </div>
      </div>
    </div>
</div>
</div>
